/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body::after {

    background-size: 100% 100%;
    background-image: url("assets/m.jpg") ;
    content: "";
    opacity: 0.50;
    position: absolute;
    background-repeat: repeat-y;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;   
  }
  
  
  h1,h2
  {
    color: #4CAF50;
    text-align: center;
  }
  
  /* -------------------Form----------------------- */
  label {
      width: 8em;
      padding: 10px;
      margin: 7px 0px 7px 7px;
    display : inline-block;
    /* clear: both;
    float: left; */
    }
  
  legend
  {
      text-align: center;
      font: bold;
      font-size: 30px;
      color: #46155E;
      padding: 12px 12px 12px 12px;
      width: 5em;
      display: block;
  }
  
  fieldset
  {
      background: rgba(242, 242, 242, 0.62);
      font-size: 19px;
      color: #46155E;
      padding: 12px;
      border: 1px solid rgb(0, 0, 0);
      border-radius: 5px;
      width: 600px;
      margin:auto;
  }
  
  input,select
  {
      border: 1px solid black;
      border-radius: 4px;
      padding: 9px;
      margin: 20px 5px 5px 0px;   
      width: 13em;
   
  }
  
  textarea
  {
      border: 1px solid black;
      border-radius: 4px;
      padding: 9px;
      margin: 5px 5px 5px 0px;   
    width: 13em;
    display: inline-block;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  input[type=submit],input[type=reset],input[type=button]
  {
      background-color:#46155E;
      border: 1px solid black;
      border-radius: 4px;
      color: white;
      padding: 14px 24px;
      text-decoration: none;
      margin: 10px 6px 10px 6px;
      cursor: pointer;
  }
  
  span.colorRed
  {
      color: red;
      font-size: 12px;
  }
  
  
  
  /* --------------Service links ----------------- */
  
  img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 160px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  div.polaroid img
  {
      width: 300px;
      height : 240px;
  }
  
  div.polaroid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    color: white;
    border: 1px dotted #4CAF50;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 50px;
    margin-left: 90px;
  }
  
  div.container {
    color: white;
    border: 1px dotted #4CAF50;
    background-color: #4CAF50;
    font-size: 20px;
    text-align: center;
    height: 61px;
    width: 300px;
    margin-top: -5px;
  }
  
  a
  {
    text-decoration: none;
    
  }
  

  /*  ----------------------------Navbar-------------------------*/


/* -----------------------------Old-------------- */

.logo {
  float: left;
  width: auto;
  height:70px;
}

#navigation-container {
  width: 80%;
  margin: 0 auto;
  height: 70px;
  float: left;
}

#navigation-container1 {
  width: 20%;
  margin: 0 auto;
  height: 70px;
  float: right;
}

.navigation-bar {
 
  height: 70px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align:center;
}
.navigation-bar img{
float:left;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  /* float: right; */
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  /* height: 24px;
  margin-top: 4px;
  margin-bottom: 4px; */
  display: inline;
}



.navigation-bar li button
{
  color:inherit;
  border:none; 
  font-size: 20px;
  cursor: pointer;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: white;
  font-style: oblique, italic, bold;
  background: #4CAF50;
  text-decoration: none;
  line-height: 25px;
  margin: 10px;
  margin-left: 16px;
  border-radius: 6px;

}

.navigation-bar li button.logout
{
  color: #fff;
  padding: 10px;
  background: rgba(201, 67, 67, 0.973);
}

.navigation-bar li button.download
{
  color: #fff;
  padding: 10px;
  background: rgba(24, 155, 207, 0.979);
}

.navigation-bar li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 65px;
  padding: 5px 15px;
  opacity: 1;
  display: inline-block;
}

.navigation-bar li button.logout:hover:not(.active) {color: rgba(201, 67, 67, 0.973); background-color: #fff}
.navigation-bar li button.download:hover:not(.active) {color: rgba(24, 155, 207, 0.979); background-color: #fff}

.navigation-bar li a:hover:not(.active) {background-color: #fff; color: #4CAF50}
  
.navigation-bar li a.active {background-color: #fff; color: #4CAF50}
  
  @media screen and (max-width: 600px) {
    .navigation-bar li.right, 
    .navigation-bar li {float: none;}
  }


  /*---------------Validation Button------------------*/

input[type="submit"]:hover
    {
        background:linear-gradient(to right,darkblue 0%,red 40%,#0f0100 100%);
    
    }

input[type="submit"]:disabled
{
    background-color: red;
}



.active{color:#fff;background-color:#f5f5f5}
.primary{color:#fff;background-color:#366aa1;border-color:#007bff}
.secondary{color:#fff;background-color:#6e7881;border-color:#6c757d}
.success{color:#fff;background-color:#80ffaa;border-color:#28a745}
.info{color:#fff;background-color:#46155E;border-color:#17a2b8}
.warning{color:#fff;background-color:#ff9999;border-color:#ffc107}
.danger{color:#fff;background-color:#ff6666;border-color:#dc3545}
.light{color:#212529;background-color:snow;border-color:#f8f9fa}
.dark{color:#fff;background-color:#343a40;border-color:#343a40}
.outline-primary{color:dodgerblue;border-color:#007bff}



/* ------------------Table--------------- */

#logFile {
  background: transparent;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-decoration: black
}

#logFile td, #logFile th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#logFile tr:nth-child(even){background-color: transparent}

#logFile tr:hover {background-color: #ddd;}

#logFile th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 19px;
  background-color:transparent;
  color:#46155E ;
}


/* -=--------------- */


/* Chart */

div#chartBackground{
  background-image: none;
  background: #fff;
  width: 100% !important;
  margin: 0 auto;
  display: block;
  }