div#chartBackground{
    background-image: none;
    background: #fff;
    width: 100% !important;
    margin: 0 auto;
    display: block;
    }
    fieldset{
  border: 1px solid rgb(255,232,57);
  width: 400px;
  margin-right:350px;
 align-self: center
}