<br><br><h1> Log File Analyzer</h1>


    <fieldset>
        
        <form class ="container" (ngSubmit)="sendFile(file.value, format.value)">
                <div class="loginBlock">
                    <label for="file">Choose File : </label><input type='file' #file (change)="fileChanged($event) "class="inputfile"> <br>
                    <label for="format">Choose Format : </label>
                    <select  name = "format" #format>
                      <option value="" selected disabled hidden>Choose here</option>
                      <option value="Android" selected>Android Log File</option>
                      <option value="Apache" selected>Apache Log File</option>
                      <option value="BGL" selected>BGL Log File</option>
                      <option value="Hadoop" selected>Hadoop Log File</option>
                      <option value="HDFS" selected>HDFS Log File</option>
                      <option value="HPC" selected>HPC Log File</option>
                      <option value="Linux" selected>Linux Log File</option>
                      <option value="Mac" selected>Mac Log File</option>
                      <option value="Microsoft IIS" selected>Microsoft IIS Log File</option>
                      <option value="NCSA Combined" selected>NCSA Combined(Access) Log File</option>
                      <option value="NCSA Common" selected>NCSA Common(Access) Log File</option>
                      <option value="OpenSSH" selected>OpenSSH Log File</option>
                      <option value="OpenStack" selected>OpenStack Log File</option>
                      <option value="Proxifier" selected>Proxifier Log File</option>
                      <option value="Spark" selected>Spark Log File</option>
                      <option value="Thunderbird" selected>Thunderbird Log File</option>
                      <option value="W3C Extended" selected>W3C Extended Log File</option>
                      <option value="Windows" selected>Windows Log File</option>
                      <option value="Zookeeper" selected>Zookeeper Log File</option>
                      <option value="Others" selected>Other Log File</option>
                      <option value="Error" selected>Error Log File</option>
                      <option value="Log4j" selected>Log4j Log File</option>
                      
                    </select><br>
                      <input  class = "button" type="submit" style="margin-right:148px" value="SUBMIT">
                    <!-- <input type="reset" value="RESET"> -->
                    <!-- <input type="button" value="Logout" (click)="clickLogout()"> -->
                </div>
            </form>
    
    </fieldset>